__pycache__/
*.py[cod]

.venv/
.venv-build/
venv/

build/
*.spec.bak

ART/
DPI_Upscale/
DPI_UPSCALE/
Margin_Creator/

.DS_Store
Thumbs.db

# Résidus
ProxyBack.jpg

# Fichiers bulk Scryfall (trop volumineux pour git)
all-cards-*.json
oracle-cards-*.json

# Dossiers générés par le programme
DECKLIST_*/
*_Marged/
